@use "../../sass/mixins.scss";

#about {
  grid-area: about;
  background-color: var(--light-bg-color);
  padding: 3rem;
  position: relative;
  border-top: 0.2rem solid var(--light-font-color);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%, 0 90%, 0 0);

  font-size: var(--font-size-large);
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 5%;
    height: 10%;
    background-color: #ff8787;
    z-index: 4;
    content: "";
    border-right: 0.2rem solid var(--light-font-color);
    border-top: 0.2rem solid var(--light-font-color);
  }
  @include mixins.flexCenter();
  section {
    @include mixins.flexCenter();
  }
}
