@use "../../sass/mixins.scss";

@include mixins.infinite_scroll(-100svw);
#header {
  border-bottom: 2px solid var(--body-font-color);
  section {
    > h3 {
      text-align: center;
      margin-bottom: 4px;
    }
  }
}
#breaking_news {
  display: flex;
  flex-direction: row;
  animation: 10s slide infinite linear;

  h2 {
    min-width: 100svw;
    color: #e97777;
    line-height: normal;
    font-weight: 900;
    margin: var(--spacing-mobile) 0;
  }
}
@media (min-width: 800px) {
  #header {
    // @include mixins.infinite_scroll(-100svw);
    #breaking_news {
      // animation: 20s slide infinite linear !important;
      // h2 {
      //   min-width: 50svw;
      // }
    }
  }
}
