@use "../../sass/mixins.scss";

#works {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  ul {
    //*
    padding: 1rem;

    //* Horizontal scroll settings
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    // grid-row: auto;
    overflow-x: auto;
    gap: 2em;

    //* Scroll snap
    scroll-snap-type: x mandatory;
    justify-content: start;
    > * {
      scroll-snap-align: center;
    }

    //* padding before and after horizontal scroll to center first and last component
    &::before {
      content: "";
      flex-basis: calc((100% - 80%) / 2); /* Centering calculation */
    }
    &::after {
      content: "";
      flex-basis: ((100% - 80%) / 2); /* Centering calculation */
    }

    #card {
      display: flex;
      flex-direction: column;

      #project_pic {
        // flex: 0 0 70%;
        position: relative;
        min-width: 100%;
        aspect-ratio: 1/1;
      }
      #project_description {
        // flex-basis: 30%;
        display: flex;
        flex-direction: column;
        // h4 {
        //   // flex: 0 0 20%;
        //   font-size:
        // }
        p {
          // flex: 0 0 70%;
        }
      }
    }
  }
}
