@use "../../sass/mixins.scss";

#editorial {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  ul {
    //*
    padding: 1rem;

    //* Horizontal scroll settings
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    // grid-row: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2em;

    //* Scroll snap
    scroll-snap-type: x mandatory;
    justify-content: start;

    > * {
      scroll-snap-align: center;
    }
    //* hide scroll bar
    &::-webkit-scrollbar {
      display: none;
    }
    //* padding before and after horizontal scroll to center first and last component
    &::before {
      content: "";
      flex-basis: calc((100% - 80%) / 2); /* Centering calculation */
    }
    &::after {
      content: "";
      flex-basis: ((100% - 80%) / 2); /* Centering calculation */
    }

    #card {
      display: flex;
      flex-direction: column;

      #project_pic {
        position: relative;
        aspect-ratio: 1/1;
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        h4 {
          margin-right: 4px;
        }
      }
      p {
        flex-grow: 1;
      }
      #tech_used {
        align-items: flex-start;
        margin-top: var(--spacing-mobile);
        display: flex;
        flex-wrap: wrap;
        font-size: var(--font-size-small);
        span {
          margin-right: var(--spacing-mobile);
        }
      }
    }
  }
}
@media (min-width: 700px) {
  #editorial {
    max-width: 1080px;
    margin: 0 auto;
    ul {
      grid-auto-columns: 1fr 1fr 1fr;
      // gap: 2rem;
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }
}
