@use "../../sass/mixins.scss";

#intro {
  padding: 1em;
  margin-top: 1em;

  position: relative;
  display: flex;
  flex-direction: column;

  #profile_pic {
    aspect-ratio: 3/2;
    position: relative;
  }
}
