@use "../../sass/mixins.scss";

#intro {
  padding: 1em;

  position: relative;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0;
    line-height: 2.2rem;
  }
  #profile_pic {
    aspect-ratio: 3/2;
    position: relative;
    margin: var(--spacing-mobile) 0;
  }
  p b {
    font-size: x-large;
  }
}
