@use "../../sass/mixins.scss";

#footer {
  height: 50svh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
  h3 {
    margin: var(--spacing-mobile) 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
  }

  #contact {
    padding: 0 3rem;
    font-size: clamp(1.5rem, 1.2059rem + 1.1765vw, 2rem);
    #info {
      display: flex;
      flex-direction: row;
    }
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:first-child {
        margin-right: var(--spacing-mobile);
      }
    }
  }

  #social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    li {
      &:first-child {
        margin-right: var(--spacing-mobile);
      }
    }
  }

  p {
    font-size: var(--font-size-small);
    padding: 0 var(--spacing-mobile);
    margin-bottom: var(--spacing-mobile);
  }
}
