//

#tech {
  grid-area: tech;
  background-color: darkorange;

  position: relative;

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-120px * 8));
    }
  }
  &:hover {
    section {
      animation-play-state: paused;
    }
  }

  //Fade in and out left and right
  &::before,
  &::after {
    background-color: darkorange;
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    content: "";
    z-index: 99;
    display: block;
  }
  &::before {
    left: 0;

    background: linear-gradient(to left, rgba(255, 255, 255, 0), darkorange);
  }
  &::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), darkorange);
  }
  section {
    height: 100%;
    width: calc(120px * 8);
    display: flex;
    align-items: center;

    // gap: 4rem;
    animation: 15s slide infinite linear;

    span {
      min-width: 120px;
      // min-height: 60px;
      flex-shrink: 0;
      text-align: center;
      // background-color: aquamarine;
    }
  }
}
