//

#tech {
  grid-area: tech;
  background-color: var(--light-bg-color);

  position: relative;

  border-top: 0.2rem solid var(--light-font-color);
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      //NOTE multiple length of logo container with number of logos
      transform: translateX(calc(-120px * 9));
    }
  }
  &:hover {
    section {
      animation-play-state: paused;
    }
  }

  //Fade in and out left and right
  &::before,
  &::after {
    background-color: var(--light-bg-color);
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    content: "";
    z-index: 99;
    display: block;
  }
  &::before {
    left: 0;

    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      var(--light-bg-color)
    );
  }
  &::after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--light-bg-color)
    );
  }
  section {
    height: 100%;
    width: calc(120px * 9);
    display: flex;
    align-items: center;

    // gap: 4rem;
    animation: 15s slide infinite linear;

    span {
      min-width: 120px;
      // min-height: 60px;
      flex-shrink: 0;
      text-align: center;
      // background-color: aquamarine;
    }
  }
}
