#tech {
  grid-area: tech;
  background-color: darkorange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  // aside {
  // }
  ::-webkit-scrollbar {
    display: none;
  }

  section {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10svw;
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
}
