@use "./sass/mixins.scss";
@use "./sass/style_reset.scss";
@use "./sass/size_color.scss";
@use "./sass/hamburger_menu.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
}
html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-padding-top: 7svh;
}

//* Background paper texture
html {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-repeat: repeat;
    background-image: url("./assets/paper-texture.jpg");
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 100;
    content: "";
  }

  overflow-x: hidden;
}

body {
  #main-column {
    max-width: 1080px;
    margin: 0 auto;
  }
}

.sticky .nav_bar {
  position: fixed;

  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 900;
  padding: 0 1rem;
}

h1 {
  padding: var(--spacing-mobile);
  font-size: calc(var(--font-size-xlarge));
  text-align: center;
}
h2 {
  font-size: var(--font-size-xlarge);
}
h3 {
  font-size: var(--font-size-large);
}
h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

.img_container {
  max-width: 100%;
  display: block;
}

//* Set separation lines between content sections
.top_border {
  position: relative;
  padding: var(--spacing-mobile) 0;
  &::before {
    margin: 0 var(--spacing-mobile);
    width: calc(100% - 2 * var(--spacing-mobile));
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 98;
    border-top: 2px solid var(--body-font-color);
  }
}

.icon {
  min-width: 2.5rem;
  min-height: 2.5rem;
}

//* ==================Media Queries=======================

@media screen and (min-width: 620px) {
}
