@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 48px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--font-size-medium);
}

/* screens: {

  'xxsm': '280px',
  // => @media (min-width: 280px) { ... }

  'xsm': '320px',
  // => @media (min-width: 320px) { ... }

  'sm': '640px',
  // => @media (min-width: 640px) { ... }

  'md': '768px',
  // => @media (min-width: 768px) { ... }

  'lg': '1024px',
  // => @media (min-width: 1024px) { ... }

  'xl': '1280px',
  // => @media (min-width: 1280px) { ... }

  '2xl': '1536px',
  // => @media (min-width: 1536px) { ... }
} */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
// body {
//   // overflow-y: scroll;
//   div {
//   }
// }
html {
  // height: 100svh;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 5vh;
}
main,
footer {
  scroll-snap-align: start;
}
main {
  // scroll-padding-top: 4rem;
  background-color: black;
  height: 95svh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2fr 2fr 2fr 1fr;
  grid-template-areas:
    "intro intro intro intro works works"
    "intro intro intro intro works works"
    "extra about about about works works"
    "extra tech tech tech tech connect";
  overflow-x: hidden;
}
