@use "../../sass/mixins.scss";

#extra {
  grid-area: extra;
  background-color: var(--light-bg-color);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.2rem solid var(--light-font-color);
  border-right: 0.2rem solid var(--light-font-color);
  #map {
    height: 100%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  #base {
    font-size: 4rem;
    background-color: chartreuse;
  }
}
