@use "../../sass/mixins.scss";

#nav {
  scroll-snap-align: center;
  background-color: #95bdff;
  width: 100%;
  height: 8svh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.2rem solid var(--light-font-color);
  border-bottom: 0.2rem solid var(--light-font-color);

  font-size: large;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;

    li {
      @include mixins.flexCenter();
      margin-left: 5rem;
    }
  }
  aside {
    display: flex;
    justify-content: center;
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      border-left: 0.2rem solid var(--light-font-color);
    }
  }
}
