@use "../../sass/mixins.scss";

#nav {
  background-color: red;
  height: 5svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  // position: relative;
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    height: 100%;
    li {
      @include mixins.flexCenter();
      width: 24%;
      border-radius: 0.7rem 0.7rem 0 0;
      &:nth-child(1) {
        background-color: cornflowerblue;
      }
      &:nth-child(2) {
        background-color: darksalmon;
      }
      &:nth-child(3) {
        background-color: khaki;
      }
      &:nth-child(4) {
        background-color: coral;
      }
    }
  }
}
