@use "../../sass/mixins.scss";

#nav {
  background-color: #95bdff;
  height: 5svh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.2rem solid var(--light-font-color);
  border-bottom: 0.2rem solid var(--light-font-color);

  z-index: 100;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      @include mixins.flexCenter();
      margin-left: 2rem;
    }
  }
  aside {
    display: flex;
    justify-content: center;
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-left: 0.2rem solid var(--light-font-color);
    }
  }
  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }
}
