//* All adjustable hamburger menu variables

$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: var(--body-font-color) !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
.hamburger {
  line-height: 1;
}
.hamburger-box {
  display: block;
}
