:root {
  --font-size-xsmal: 0.6rem;
  --font-size-small: 0.9rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 2.5rem;
}

:root {
  --spacing-mobile: 1rem;
  --spacing-tablet: 2rem;
  --spacing-desktop: 4rem;
}

:root {
  --display-mobile: 480px;
  --display-tablet: 720px;
  --display-desktop: 1280;
}

:root {
  --body-bg-color: hsl(0, 0%, 100%);
  --body-font-color: #28292f;
  --footer-bg-color: hsl(228, 8%, 12%);
  --footer-font-color: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --body-bg-color: hsl(240, 6%, 10%);
  --body-font-color: hsl(54, 100%, 98%);
  --footer-bg-color: hsl(240, 5%, 4%);
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
