:root {
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;

  --font-size-xsmal: 10px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 48px;
}

:root {
  --display-mobile: 480px;
  --display-tablet: 720px;
  --display-desktop: 1280;
}
