:root {
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;

  --font-size-small: 8px;
  --font-size-medium: 12px;
  --font-size-large: 24px;
  --font-size-xlarge: 48px;
}
