@use "../../sass/mixins.scss";

#works {
  @include mixins.flexCenter();
  height: 60svh;
  h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 50vw;
    // font-size: var(--font-size-large);
    font-size: x-large; // height: 100%;
    @include mixins.flexCenter();
    letter-spacing: 1.5rem;
  }
  > ul {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60svw;
    overflow-x: auto;
    border-left: 1px solid black;
    padding: 5rem 0;
    padding-left: 1rem;
    li {
      position: relative;
      // width: 200px;
      // height: 48%;

      @include mixins.flex(column, center, center, center);
      // padding:
      margin: 0 1rem;
      border: 1px solid white;
      h3 {
        font-size: larger;
      }
      div:first-child {
        @include mixins.flexCenter();
        border-right: 2px solid black;

        border-top: 2px solid black;
      }
      div:last-child {
        @include mixins.flex(column, space-between, flex-start, center);
        padding: 1rem 0;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
      }
      div {
        position: relative;
        flex-basis: 50%;
        width: 100%;
        overflow: hidden;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
