@use "../../sass/mixins.scss";

#works {
  height: 75svh;
  @include mixins.flexCenter();

  h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-right: 1px solid black;
    height: 100%;
    width: 10svw;
    @include mixins.flexCenter();
    letter-spacing: 1.5rem;
  }
  > ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    padding: 5rem 0;
    li {
      // width: 200px;
      // height: 48%;
      background-color: coral;
      @include mixins.flex(column, center, center, center);
      margin: 0 1rem;
      div:first-child {
        @include mixins.flexCenter();
      }
      div:last-child {
        @include mixins.flex(column, space-between, flex-start, center);
      }
      div {
        flex-basis: 50%;
        width: 100%;
        overflow: hidden;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
