@use "../../sass/mixins.scss";

#connect {
  grid-area: connect;
  background-color: var(--light-bg-color);
  z-index: 10;
  display: flex;
  flex-direction: row;

  border-left: 0.2rem solid var(--light-font-color);
  border-top: 0.2rem solid var(--light-font-color);
  font-size: xx-large;
  @include mixins.flexCenter();
  button {
    height: 100%;
    flex-basis: 50%;
  }
  div {
    height: 100%;
    flex-basis: 50%;
    @include mixins.flexCenter;
  }
}
