@use "../../sass/mixins.scss";

#connect {
  grid-area: connect;
  background-color: lightgreen;
  @include mixins.flexCenter();
  button {
    background-color: paleturquoise;
    padding: 2rem;
  }
}
