#ad {
  text-align: center;
  padding: 0 var(--spacing-mobile);
  margin: var(--spacing-mobile) 0;
  aside {
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;

    span {
      font-size: var(--font-size-large);
    }
  }
}
