#ad {
  text-align: center;
  padding: 0 var(--spacing-mobile);

  aside {
    min-height: 100px;
    max-width: 1048px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--body-font-color);

    span {
      font-size: var(--font-size-large);
    }
  }
}

@media (min-width: 700px) {
  #ad {
    aside {
      min-height: 200px;
    }
  }
}
